@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(150,166,178);
background: linear-gradient(90deg, rgba(150,166,178,0.9445028011204482) 0%, rgba(224,118,56,0.9585084033613446) 0%, rgba(88,184,194,0.9304971988795518) 43%, rgba(17,238,255,0.8940826330532213) 73%);
}